/* IE9 和 IE10 的样式补丁 */

/* 首页行业资讯多行省略 */
.elip4 {height:80px; line-height:20px;}

/* IE9翻页动画项中间的白线 */
.IE9 .page-wrapper[page="3"] {
    left: 49.8%!important;
}

/* IE9弹性盒子无效 优秀样式和优秀机构没有横排 */
.IE9 .swiper-wrapper {
    overflow: hidden;
    white-space: nowrap; 
}
.IE9 .swiper-slide {
    display: inline-block;
}

.speakers_org_item_intro_content {
    white-space: pre-wrap!important;
    padding-top: 20px!important;
    display: inline-block !important;
}

/* 右侧固定栏 */
.fixedNav_list1:hover{overflow:visible!important;}
.fixedNav_list2:hover{overflow:visible!important;}
.fixedNav_list3:hover{overflow:visible!important;}

/* 大家谈 */

.IE9 .designer_content_right {
    float: right;
}
.IE9 .designer_content_contain {
    display: inline-block;
}
.toolBox {
    margin-left: -20px!important;
    width: 1020px!important;
}

/* 个人中心 兴趣选择弹窗 */
.IE9 .pushPopUpShow {
    display: block!important;
}

.pushPopUp_dialog_centerInfo .selected {
    background-color: rgba(255, 210, 0, 0.5);
}

.IE9 .pushPopUp_dialog {
    margin-top: 5%!important;
}

/* 首页优秀讲师动画 */
.IE9 .swiper-container-android .swiper-slide, .swiper-wrapper {
    -ms-transform: translateX(0);
    -ms-transition: transform; 
}

@media screen and (max-width: 1600px) {
    .designer_content_contain {
        width: 840px!important;
    }
    .toolBox {
        margin-left: -20px!important;
        width: 840px!important;
    }

}
